//Colors
$primary: #01C38E;
$primary-light: #DCEDFF;
$primary-lighter: #ddecf3;

$table-text:#1B1A23;

$active-nav:$primary;
$nav-bottom-border: rgba(172, 239, 229, 0.6);

$dropdown-border: 0.5px solid #01C38E;

$bg-light-green: #eefffc;
$bg-light-amber: #ffe8c7;
$amber-text: #f19100;

$sm-font-size: 0.8rem;
$xx-font-size: 1rem;